*,*:before,*:after{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}

body{
    margin:0;
    font-family:"Helvetica";
    font-size: 1em;
}

.flexbox {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -ms-flexbox;     /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: -moz-box;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.column {
    display:inline-block;
    -webkit-flex-flow: column;
    -moz-flex-flow : column;
    -ms-flex-flow: column;
    flex-flow: column;
}

.stretch{
    -webkit-align-items:stretch;
    -ms-align-items:stretch;
    align-items:stretch;
}

.icone{
    display:inline-block;
    width : 48%;
    height : 70px;
}

/******* STRUCTURE *******/
#menu{
    height:30px;
    background-color:#eee;
    border-bottom:gray 2px solid;
    font-size:0.8em;
}
.item{
    padding:5px;
    border: transparent 1px solid;
}
.item:hover{
    background-color:rgba(230,240,255,1);
    border: rgba(200,210,255,1) 1px solid;
}
#toolbar{
    padding:5px;
    width:150px;
    min-height:calc(100% - 30px);
    background:#ccc; /*rgba(200,200,255,0.1);*/
    border:gray 1px solid;
    -webkit-flex : 0 0 150px;
    -ms-flex : 0 0 150px;
    flex : 0 0 150px;
}
#canvas{
    width:calc(100% - 150px);
    border : 1px solid #000;
    -webkit-flex : 1 1 75%;
    -ms-flex : 1 1 75%;
    flex : 1 1 75%;
}
.action_button{
    font-weight:bold;
    height:30px;
    width: 100%;
}


