*,*:before,*:after{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}

body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient : vertical;
    -ms-flex-direction:column;
    flex-direction:column;
    height:100%;
    margin:0;
    font-family:"Helvetica";
    font-size: 1em;
}

/*.flexbox {
    display: -webkit-box;      
    display: -ms-flexbox;     
    display: -webkit-flex;     
    display: -moz-box;
    display: flex;
 }

.column {
    display:inline-block;
    -webkit-flex-flow: column;
    -moz-flex-flow : column;
    -ms-flex-flow: column;
    flex-flow: column;
}

.stretch{
    -webkit-align-items:stretch;
    -ms-align-items:stretch;
    align-items:stretch;
}*/

.icone{
    display:inline-block;
    width : 48%;
    height : 70px;
}

/******* STRUCTURE *******/
#menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height:30px;
    background-color:#eee;
    border-bottom:gray 2px solid;
    font-size:0.8em;
}
.item{
    padding:5px;
    border: transparent 1px solid;
}
.item:hover{
    background-color:rgba(230,240,255,1);
    border: rgba(200,210,255,1) 1px solid;
}
#main{
    display: -webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align: stretch;
    -webkit-box-flex: 1;
    -ms-flex:1;
    flex:1;
}
#toolbar{
    padding:5px;
    width:150px;
    background:#ccc; /*rgba(200,200,255,0.1);*/
    border:gray 1px solid;
}
.toolbar-item{
    background: #fff;
    width : 48%;
    height : 60px;
    border:gray;
}
#canvas{
    -webkit-box-flex: 1 1 75%;
    -webkit-flex : 1 1 75%;
    -ms-flex : 1 1 75%;
    flex : 1 1 75%;
    border : 1px solid #000;
}
.action-button{
    font-weight:bold;
    height:30px;
    width: 100%;
}


