rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read : if false;
      allow write: if false;
    }
    match /BUGS/{id} {
    	allow read : if true;
    	allow write : if request.auth != null;
    }
    match /Files/{id} {
    	allow read : if true;
    	allow write : if request.auth != null;
    }
    match /Sequences/{id} {
    	allow read : if true;
    	allow write : if request.auth != null;
    }
    match /Notions/{id} {
    	allow read : if true;
    	allow write : if request.auth != null;
    }
    match /Files/{id} {
    	allow read : if true;
    	allow write : if request.auth != null;
    }
    match /Sequences/{id} {
    	allow read : if true;
    	allow write : if request.auth != null;
    }
    match /Notions/{id} {
    	allow read : if true;
    	allow write : if request.auth != null;
    }
    match /files/{id} {
    	allow read : if true;
    	allow write : if request.auth != null;
    }
    match /modules/{id} {
    	allow read : if true;
    	allow write : if request.auth != null;
    }
    match /themes/{id} {
    	allow read : if true;
    	allow write : if request.auth != null;
    }
  }
}